#header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
}

#title {
    position: absolute;
    color:#F3E680;
    font-family: 'Hachi Maru Pop', serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    left: 36%;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    line-height: 1em;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

h2 {
    color:#F3E680;
}

h3 {
    color:#F3E680;
}

@media (min-width:576px) {
    #title {
        font-size: 3rem;
    }
  }
  @media (min-width:768px) {
    #title {
        font-size: 4rem;
    }
  }
  @media (min-width:1024px) {
    #title {
        font-size: 5rem;
    }
  }
  @media (min-width:1280px) {
    #title {
        font-size: 6rem;
    }
  }